.fc-toolbar-chunk {
    display: flex;
    margin-right: 0.5rem;
}

.fc-daygrid {
    background-color: #212529;
}

.fc-daygrid-day-number { 
    color: #45A29E;
}

.fc-toolbar-title {
    color: #45A29E;
}

.fc-col-header-cell-cushion {
    color: #45A29E;
}

.fc-daygrid-day-frame {
    cursor: pointer;
}

.fc-daygrid-day :hover {
    background-color: #45A29E;
    cursor: pointer;
}



