@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Roboto&display=swap');

.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
    color: #212529;
    font-family: 'Hina Mincho', serif;
}

.title:after {
    content: '';
    height: 2px;
    width: 100%;
    background: #45A29E;
    position: absolute;
    left: 0;
    bottom: -8px;
}