.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
    color: #EDF5E1;
}

.title:after {
    content: '';
    height: 2px;
    width: 100%;
    background: #FC4445;
    position: absolute;
    left: 0;
    bottom: -8px;
}