.form-control {
    border-color: #45A29E !important;
}

.form-control :focus {
    outline: none !important;
    box-shadow: none !important;
}

.inputButton {
    color: #FC4445 !important;
    background-color: #FC4445 !important;
    border-color: #C5C6C7 !important;
}

.errorDisplay {
    color: #FC4445;
}

