.wrapper{
    max-height: 200px;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    margin-top: 3rem;
    
}

/* .wrapper::-webkit-scrollbar{
    width: 0;
} */
.wrapper .item {
    min-width: 190px;
    height: 190px;
    line-height: 110px;
    text-align: center;
    margin-right: 10px;
    border: 4px solid #060b26;
    box-shadow: 0 3px 25px #060b26;
    transition: all .2s ease-in-out
}

.wrapper .item:hover {
    transform: scale(0.9);
}
.itemLink {
    color: #060b26;
}